body{
  height: 100vh;
  position: relative;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 0;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: white;
}

.footer-container {
  background-color: black;
  color: white;
  padding: .5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

